<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
    <img src="../static/monomuse_logo.png" alt="MonoMuse Logo" width="800">
<body>
    <h1>Exhibitions</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a id="navselected" href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <h3>Exhibition 1: Digital Dreams</h3>
    <p>
    Digital Dreams explores how artists use artificial intelligence,
    projection mapping, and generative design to create immersive visual
    experiences that transform the way audiences interact with art.
    </p>

    <h3>Exhibition 2: Human + Machine</h3>
    <p>
    Human + Machine focuses on collaboration between artists and technology.
    The exhibition features robotic drawings, algorithm-generated paintings,
    and interactive installations that respond to visitor movement.
    </p>

    <footer>
    <p>© 2026 MonoMuse</p>
    </footer>


</body>
</html>