<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
    <img src="../static/monomuse_logo.png" alt="MonoMuse Logo" width="800">
<body>
    <h1>Checkout</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a id="navselected" href="checkout.html">Checkout</a>
    </nav>

    

    <form>

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Ticket Quantity:</label><br>
    <input type="number" name="quantity" min="1" required><br><br>

    <input type="submit" value="Submit">

    </form>

    <footer>
    <p>© 2026 MonoMuse</p>
    </footer>

</body>
</html>