<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
    <img src="../static/monomuse_logo.png" alt="MonoMuse Logo" width="800">
<body onload="addYear()">
    <h1>Tickets</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a id="navselected" href="tickets.html" class="cta">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>

    <table border="1">
    <tr>
    <th>Ticket Type</th>
    <th>Description</th>
    <th>Price</th>
    </tr>

    <tr>
    <td>General</td>
    <td>General admission for ages 18+ (free of charge for 18 and under)</td>
    <td>$20</td>
    </tr>

    <tr>
    <td>Student</td>
    <td>Discounted ticket with valid Student ID</td>
    <td>$12</td>
    </tr>

    <tr>
    <td>Member</td>
    <td>Discounted ticket with valid Member ID</td>
    <td>$16</td>
    </tr>

    </table>

    <nav>
        <a href ="../views/checkout.html">CheckOut</a>
    </nav>

    <footer>
    <p id="copyYear"></p>
    </footer>

</body>
</html>