<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
<div class="container">

    <header class="header">
        <img src="../static/monomuse_logo.png" alt="MonoMuse Logo" width="500">
        <!-- <h1>Checkout</h1> -->
    </header>

    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
        <a href="javascript:void(0);" class="hamburger" onclick="toggleMenu()">&#9776;</a>
    </nav>

    <main class="main">
        <form>
            <label>Name:</label><br>
            <input type="text" name="name" required><br><br>

            <label>Email:</label><br>
            <input type="email" name="email" required><br><br>

            <label>Ticket Quantity:</label><br>
            <input type="number" name="quantity" min="1" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </main>

    <footer class="footer">
        <p id="copyYear"></p>
    </footer>

</div>
</body>
</html>